html{
	background:#FFF; 
}


/*전체*/
.wrap{width:960px; margin:0 auto; padding-bottom: 0; background-color:#fff;}


/*탑*/
#header { 
	border:1px solid;
	position: relative;
	width:958px;
	height: 130px;
	padding:0;
	font-weight:bold;
	background-color:white;
	
}
#header_left img{
	position: relative;
	left:30px;
	top:10px;
	margin: 5% 0 0 10%;
	float: left;
}

#header_left{
	
	float:left ; 
	position:absolute;
	left:15px;
	top:5px;
}

#user-info{
	float:left;
} 

#header_right li{ list-style: none; float:left; margin:0 0 0 15px;  }
#header_right a {
	color:#000;
	text-decoration:none;
}
#header_right{ float:right; margin: 4% 4% 0 0;}
#header_right a:hover, a:active  {color: red;}
#user-info img{
width:55px;
height:40px;
}
/*내정보*/
#user-info{
	font-size:12px;
	float:right;
}
/*친구 목록 */
.friend{
	width:200px;
	heigth:100px;
	float:left;
	margin-left:40px;
	margin-top:15px;
}
.homelink{
	width:65px;
	height:100px;
	float:left;
}
.homelink img
{
	visibility:hidden;
}
.homelink a{
	text-align:right;
	text-decoration:none;
	color:#444;
}
.homelink a:hover{
	color:red;
}
/*네비 바*/
#navibar{
	width:960px;
	height:60px;
	background-color:black;	
	margin-bottom: 15px;
	float:left;
}
#navibar ul { margin: 0.7% 0% 1% 5%; padding:0; }
#navibar ul li{ 
	
	margin : 10px;
	list-style:none; 
	float:left;  
}
#navibar ul li a{
	color:white;
	/*display:block;
	background-color:#cccccc ;*/
	text-decoration:none;
	
	position:relative;
	font: bold 18px/30px Tahoma;
	/*width:180px ;
	height:35px ; */ 
	margin-left : 2px ; 
	left:15px;top:5px;
}
#navibar ul li a.selected{background-color:#fff;}
#navibar ul li a:hover{color:#FFFF8F}

.navi{width: 90px;}

/*메인화면*/
.main{
	margin : 0 0 0 0 ; 
	background-color: white;
	border:1px solid;
	height: 700px;	
	font-family:"HY동녘B","휴먼모음T","굴림";	
	font-size:15pt;
	padding-left:25px;
	padding-right:25px;
	padding-top:25px;
}

.main ul { list-style: none; margin: 0% 0% 1% 0%; padding:0; }

.main ul li{ 
	list-style: none;
	margin : 5px; 
	float:left;  
}
.main a{
	text-decoration :none;
	color:#0000C9;
}
.main input{
	
}
/*footer*/
#footer{
	background-color: #FFDD73;
	text-align:center;
	font-size:11px;
}
/*유저 프로필 팝업창*/
#mask {  
     position:absolute;  
     z-index:9000;  
     background-color:#000;  
     display:none;  
     left:0;
     top:0;
   } 
.window{
  background-color:white;
  width:350px;
  height:500px;
  display: none;
  position:absolute;  
  left:650px;
  top:150px;
  z-index:10000;
  color:blue;
  padding:20px;
}
.window img{
	float:left;
	width:100px;
	height:150px;
	margin-right:15px;
}
.close{
	position:absolute;
	right:15px;
	top:15px;
	width:60px;
	height:25px;
}
.submit{
	position:absolute;
	left:25%;
	bottom:20px;
	width:200px;
	height:50px;
}
/*sign up 페이지 부분*/
.control-group{
	width:700px;
	height:70px;
	text-align:right;
}
.control-label{
	width:250px;
	float:left;
	margin-right:20px;
}
.controls{
	float:left;
	maign-left :35px;
	width:120px;
	height:50px;
	font-family:"돋움";
	font-size:12pt;
}
.controls input{
	float:left;
	maign-left :35px;
	
}
.form-actions{
	position:absolute;
	left:35%;
	bottom:230px;
}
.form-actions input{
	width:150px;
	height:30px;
}
/*로그인 부분*/
.log-form{
	position:relative;
	left:35%;
	top:20px;
}
.log-label div{
	width:170x;
	height:200px;
}
.log-input div{
	float:left;
	width:170px;
	height:200px;
}
.login-btn input{
	width:155px;
	height:30px;
}